*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f6f6;
    font-family: arial;
}
.container
{
    width: 600px;
    border: 2px solid #333;
    padding: 15px 10px;
}