<!DOCTYPE html>
<head> <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.5"></head>
 <header >
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.75">
 
  <title>Add Post</title>
  <link href="{{ url_for('static', filename='css/for_forms.css') }}" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</header>
<body>
  <div class="container-form-1">
<div class="contact-form">
            <div class="contact-image">
                <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
            </div>
            <form method="post"action="/add_post">
                <h3>Unleash your thinking</h3>
               <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label>TITLE</label>
                            <input type="text" name="title" class="form-control" placeholder="_____" value=""required />
                        </div>
                        <div class="form-group">
                          <label>Topic</label>
                            <input type="text" name="category" class="form-control" placeholder="_____"value=""required />
                        </div>
                      
                     
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btnContact" value="Share" />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                          <label>Creation of your Mind</label>
                            <textarea name="content" class="form-control" placeholder="✐_____________" id="content" style="margin-top:15px;width: 100%; height: 150px;border-radius: 8px;"required></textarea>
                        </div>
                    </div>
                </div>
            </form>
</div>
</div>
</body>
</html>
